In [2]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
train = pd.read_csv("train_data.csv")
val = pd.read_csv("val_data.csv")
x = train.drop(columns = ["id", "price", "date",train.columns[0]], axis = 1)
y = train["price"]
x, x_test, y, y_test = train_test_split(x, y, test_size = .25)

In [4]:
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7136,3,2.00,1670,13775,1.0,0,0,3,8,1670,0,1968,0,98045,47.4873,-121.783,2130,14500
13514,4,2.25,2230,11200,1.0,0,0,4,7,1300,930,1977,0,98011,47.7691,-122.167,2090,10563
13306,4,2.75,2620,6019,2.0,0,0,3,8,2620,0,2013,0,98045,47.4840,-121.771,2790,6716
3504,3,1.75,1590,9620,1.0,0,0,3,7,1590,0,1988,0,98059,47.4815,-122.152,2980,9398
1015,3,1.75,1840,5101,1.0,0,0,5,7,1040,800,1952,0,98108,47.5585,-122.317,1340,5000

In [5]:
regr = AdaBoostRegressor(random_state=0, base_estimator=DecisionTreeRegressor(max_depth=15),n_estimators=10, loss = "square")
regr.fit(x,y)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse',
                                                       max_depth=15,
                                                       max_features=None,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       presort=False,
                                                       random_state=None,
                                                       splitter='best'),
                  learning_rate=1.0, loss='square', n_estimators=10,
                  random_state=0)

In [7]:
feature_names= x.columns
feature_dict = { feature_names[i]: regr.feature_importances_[i] for i in range(len(feature_names))}
print("Most important feature is ", max(feature_dict, key=feature_dict.get))

Most important feature is  sqft_living

In [8]:
y_pred = regr.predict(x_test)
np.sqrt(mean_squared_error(y_test, y_pred))
# regr.score(x_test, y_test,)

135972.26509490152